[bumpversion]
commit = True
tag = True
current_version = 1.6.1
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\-rc(?P<rc>\d+))?
serialize = 
	{major}.{minor}.{patch}-rc{rc}
	{major}.{minor}.{patch}

[bumpversion:file:katalog/gatekeeper/kustomization.yaml]
search = module.kfd.sighup.io/version: "v{current_version}"
replace = module.kfd.sighup.io/version: "v{new_version}"
